.modal-header .close {
  display: none;
}
.modal.show .modal-dialog {
  margin-top: 50%;
}
.btn-link {
  font-weight: 500;
}
.modal-title {
  font-family: "Roboto-Medium";
}
.modal-body {
  font-family: "Roboto-Regular";
  padding: 0rem 1rem;
}
.modal-footer {
  font-family: "Roboto-Medium";
  font-size: 14px;
}
