.float-e-margins .btn {
   /* margin-bottom: 5px; */
}

.btn-primary.btn-outline:hover,
.btn-secondary.btn-outline:hover
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

.btn-primary:hover,
.btn-secondary:hover
.btn-success:hover,
.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover {
  text-decoration: none;
}

.btn-primary.btn-outline, .btn-primary.btn-outline.disabled:hover, .btn-primary.btn-outline.disabled, .btn-primary.btn-outline[disabled], fieldset[disabled] .btn-primary.btn-outline {
  color: #2F80ED;
}

.btn-secondary.btn-outline, .btn-secondary.btn-outline.disabled:hover, .btn-secondary.btn-outline.disabled, .btn-secondary.btn-outline[disabled], fieldset[disabled] .btn-secondary.btn-outline {
  color: rgba(0, 0, 0, 0.54);;
}

.btn-success.btn-outline, .btn-success.btn-outline.disabled:hover, .btn-success.btn-outline.disabled, .btn-success.btn-outline[disabled], fieldset[disabled] .btn-success.btn-outline {
  color: #7DA53F;
}

.btn-info.btn-outline, .btn-info.btn-outline.disabled:hover, .btn-info.btn-outline.disabled, .btn-info.btn-outline[disabled], fieldset[disabled] .btn-info.btn-outline {
  color: #17a2b8;
}

.btn-warning.btn-outline, .btn-warning.btn-outline.disabled:hover, .btn-warning.btn-outline.disabled, .btn-warning.btn-outline[disabled], fieldset[disabled] .btn-warning.btn-outline {
  color: #ffc107;
}

.btn-danger.btn-outline, .btn-danger.btn-outline.disabled:hover, .btn-danger.btn-outline.disabled, .btn-danger.btn-outline[disabled], fieldset[disabled] .btn-danger.btn-outline {
  color: #dc3545;
}

.btn-primary {
  background-color: #2F80ED;
  border-color: #2F80ED;
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
  background-color: #277bec;
  border-color: #277bec;
  color: white;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #3785ed;
  border-color: #3785ed;
}

.btn-secondary {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color: rgba(0, 0, 0, 0.54);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary, .btn-secondary:active:focus, .btn-secondary:active:hover, .btn-secondary.active:hover, .btn-secondary.active:focus {
  background-color: #eaeaea;
  border-color: #eaeaea;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: none;
}

.btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
  background-image: none;
}

.btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled:active, .btn-secondary.disabled.active, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled]:active, .btn-secondary.active[disabled], fieldset[disabled] .btn-secondary, fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary:active, fieldset[disabled] .btn-secondary.active {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

.btn-success {
  background-color: #7DA53F;
  border-color: #7DA53F;
  color: white;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success, .btn-success:active:focus, .btn-success:active:hover, .btn-success.active:hover, .btn-success.active:focus {
  background-color: #79a03d;
  border-color: #79a03d;
  color: white;
}

.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #83ad42;
  border-color: #83ad42;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:hover, .btn-info.active:focus {
  background-color: #169db2;
  border-color: #169db2;
  color: white;
}

.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #18abc2;
  border-color: #18abc2;
}

/* .btn-default {
  background-color: $btn-default-color;
  border-color: darken($btn-default-color, 8%);
  color: white;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default:active:focus, .btn-default:active:hover, .btn-default.active:hover, .btn-default.active:focus {
  background-color: darken($btn-default-color, 3%);
  border-color: darken($btn-default-color, 14%);
  color: white;
} */

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none;
}

/* .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: lighten($btn-default-color, 4%);
  border-color: lighten($btn-default-color, 4%);
} */

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning, .btn-warning:active:focus, .btn-warning:active:hover, .btn-warning.active:hover, .btn-warning.active:focus {
  background-color: #febe00;
  border-color: #febe00;
  color: white;
}

.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #fec310;
  border-color: #fec310;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger.active:hover, .btn-danger.active:focus {
  background-color: #da2e3e;
  border-color: #da2e3e;
  color: white;
}

.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #dd3d4c;
  border-color: #dd3d4c;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
  color: #23527c;
  text-decoration: none;
}

.btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
  background-image: none;
}

.btn-link.disabled, .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active, .btn-link[disabled], .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled]:active, .btn-link.active[disabled], fieldset[disabled] .btn-link, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link.active {
  color: #cacaca;
}

/* .btn-white {
  background-color: $btn-white-color;
  border: 1px solid $btn-default-color;
  color: inherit;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white, .btn-white:active:focus, .btn-white:active:hover, .btn-white.active:hover, .btn-white.active:focus {
  background-color: darken($btn-white-color, 3%);
  color: inherit;
  border: 1px solid darken($btn-default-color, 3%);
} */

.btn-white:active, .btn-white.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
  background-image: none;
}

/* .btn-white.disabled, .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled], .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white.active[disabled], fieldset[disabled] .btn-white, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
  background-color: lighten($btn-white-color, 4%);
  border-color: lighten($btn-default-color, 4%);
} */

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
  box-shadow: none;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all 0.5s;
}

.btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus, .btn-outline.disabled:active, .btn-outline.disabled.active, .btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus, .btn-outline[disabled]:active, .btn-outline.active[disabled], fieldset[disabled] .btn-outline, fieldset[disabled] .btn-outline:hover, fieldset[disabled] .btn-outline:focus, fieldset[disabled] .btn-outline:active, fieldset[disabled] .btn-outline.active {
  background-color: transparent;
}

.btn-rounded {
  border-radius: 50px;
}

button.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: white;
  display: block;
  padding-top: 10px;
}

button.dim:active:before {
  top: 7px;
  font-size: 50px;
}


.btn-group{
  /* margin-bottom: 8px; // Commented this line bcz in breadcrumb the dropdown button is dragged to top. */
}

.btn-group .btn:not(:first-child),
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn-group{
  margin-left: 1px;
}

.btn-group.dropdown,
.btn-group.dropdown + .btn-group.dropdown:not(:last-child){
  margin-right: 8px;
}

.btn-group-vertical .btn:not(:first-child),
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn-group{
  margin-top: 1px;
}


.btn-group-justified .btn:not(:first-child),
.btn-group-justified .btn + .btn-group,
.btn-group-justified .btn-group + .btn-group{
  border-left: 1px solid #FFFFFF;
}

.btn-sm,
.btn-group-sm > .btn{
  padding: 4px 10px;
}

/* .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
  background-color: $btn-default-color;
  color: #FFFFFF;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #2F80ED;
  color: #FFFFFF;
} */
